<article class="p-showcase">
    <ul
      class="flex justify-end list-none font-neueMetanaNext text-gray-400 space-x-4 text-[0.6rem] sm:text-xs mb-5 flex-wrap w-[80%] ml-auto"
    >
    <% showcase.skills.forEach((skill) => { %>
      <li><%= skill %></li>
    <% }) %>
    </ul>
    <div class="w-full relative">
      <div
        class="p-showcase-tile opacity-0 p-hover w-full h-[280px] md:h-[360px] md:w-[640px] cursor-pointer"
      >
        <span
          class="text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-20 h-20 md:w-32 md:h-32 bg-[#181a1b] rounded-full absolute font-humane font-bold text-4xl md:text-6xl flex justify-center items-center tracking-wide"
          >ENTER</span
        >
        <% showcase.slider.forEach((image) => {%>
        <img class="p-showcase-slide hidden" src="<%= image.src %>" alt="<%= image.alt %>" alt="" srcset="">
        <% }) %>
      </div>
    </div>
    <div class="mt-8 w-full">
      <h5
        class="text-primary font-neueMetanaNext text-xs md:text-sm mb-1"
      >
        <%= showcase.type %>
      </h5>
      <h2
        class="font-humane tracking-wider text-5xl md:text-7xl font-bold"
      >
        <span class="text-primary"><%= showcase.index %>.</span> <%= showcase.title %>
      </h2>
    </div>
    <div
      class="p-showcase-detail hidden fixed inset-0 px-4 md:px-24 w-screen min-h-screen z-30 py-16 md:py-0 items-start md:items-center grid-cols-1 md:grid-cols-2 md:grid-rows-1 justify-center"
    >
      <div
        class="md:hidden row-start-1 p-showcase-detail-back w-24 h-24 mb-2 group cursor-pointer relative z-10"
      >
        <div
          class="flex justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full w-14 h-14 bg-primary group-hover:bg-white"
        >
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            stroke-width="3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#ffffff"
            class="stroke-white group-hover:stroke-primary"
          >
            <path
              d="M21 12H3m0 0l8.5-8.5M3 12l8.5 8.5"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <img
          class="p-showcase-detail-back-text w-full h-full animate-spin-20 group-hover:animate-spin-3"
          src="/icons/back-text.svg"
          alt="back text svg"
        />
      </div>
      <div>
        <div
          class="hidden md:block p-showcase-detail-back w-24 h-24 mb-8 group cursor-pointer relative z-10"
        >
          <div
            class="flex justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full w-14 h-14 bg-primary group-hover:bg-white"
          >
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              stroke-width="3"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              color="#ffffff"
              class="stroke-white group-hover:stroke-primary"
            >
              <path
                d="M21 12H3m0 0l8.5-8.5M3 12l8.5 8.5"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
          <img
            class="p-showcase-detail-back-text w-full h-full animate-spin-20 group-hover:animate-spin-3"
            src="/icons/back-text.svg"
            alt="back text svg"
          />
        </div>
        <h5
          class="p-showcase-detail-title-sm text-primary font-neueMetanaNext text-xs md:text-sm mb-1 overflow-y-hidden"
        >
          <span class="inline-block"><%= showcase.type %></span>
        </h5>
        <h2
          class="p-showcase-detail-title font-humane tracking-wider text-8xl font-bold overflow-y-hidden"
        >
          <span class="text-primary inline-block"><%= showcase.index %>.</span>
          <span class="inline-block"><%= showcase.title %></span>
        </h2>
        <h2
          class="p-showcase-detail-description text-sm text-gray-300 w-96 overflow-y-hidden"
        >
        <% showcase.description.forEach((description) => { %>
          <span class="inline-block overflow-y-hidden -mb-2"
            ><span class="inline-block">
                <%= description %></span
            ></span
          >
        <% }) %>
        </h2>
        <div
          class="p-showcase-detail-skills mt-8 space-x-2 space-y-2 text-sm w-96 overflow-y-hidden"
        >
        <% showcase.extended_skills.forEach((skill) => { %>
          <div
            class="skill inline-block py-1.5 px-4 border border-white rounded-2xl"
          >
            <%= skill %>
          </div>
          <% }) %>
        </div>
        <% if(showcase.visit) { %>
        <a
          class="flex items-center absolute bottom-0 right-5"
          target="_blank"
          href="<%= showcase.visit %>"
          data-hover="visit"
        >
          Visit
          <img
            src="/icons/arrow-tr.svg"
            class="ml-1 mb-1"
            alt="arrow top right"
          />
        </a>
        <% } %>
      </div>
      <div class="w-full row-start-2 md:row-start-auto">
        <div class="p-showcase-detail-tile relative">
          <img
            src="<%= showcase.image %>"
            alt="<%= showcase.image_alt %>"
            class="invisible"
          />
        </div>
        <div class="flex w-full space-x-4 justify-end mt-1">
          <svg
            viewBox="0 0 40 40"
            class="p-showcase-detail-slider-prev w-9 fill-white rotate-180 cursor-pointer hover:fill-primary"
          >
            <path
              d="m31.9 13.4-1.41 1.41 4.21 4.21h-33.1v2h33.1l-4.21 4.21 1.41 1.41 5.21-5.21 1.42-1.41-1.42-1.41z"
            ></path>
          </svg>
          <svg
            viewBox="0 0 40 40"
            class="p-showcase-detail-slider-next w-9 fill-white cursor-pointer hover:fill-primary"
          >
            <path
              d="m31.9 13.4-1.41 1.41 4.21 4.21h-33.1v2h33.1l-4.21 4.21 1.41 1.41 5.21-5.21 1.42-1.41-1.42-1.41z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </article>